/*
*= require_tree
*= require_self
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(-.5rem);
  }
  to {
    opacity: 1;
  }
}

#features .image {
  width: 100%;
  height: 200px;
  border-radius: 3px;
  margin: 16px auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#features .image-1 {
  background-image: url(https://images.unsplash.com/photo-1534844624972-72af3082566e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d231b116fd868277d1e13e6cc55da2c&auto=format&fit=crop&w=2251&q=80);
}

#features .image-2 {
  background-image: url(https://images.unsplash.com/photo-1528702670713-4de9b36c8c03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54fb12f180e1af8c782943e1f5b1a3fe&auto=format&fit=crop&w=1616&q=80);
}

#features .image-3 {
  background-image: url(https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab5846a70b2ce31cf27899249b229b1e&auto=format&fit=crop&w=700&q=60);
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.8;
  animation: intro 1s ease-in-out forwards;
  background: #f5f8fc;
  color: rgba(0, 0, 0, .8);
}

html:after {
  height: 4px;
  width: 100%;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background: #109ea5;
}

h1 {
  font-family: monospace;
  font-weight: 600;
}

p {
  margin: 2.4rem 0;
}

/* .container {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
} */

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2.4rem -8px;
}

.form-link {
  display: block;
  user-select: none;
  flex-basis: calc(50% - 16px);
  padding: 16px;
  transition: box-shadow .222s ease-out;
  border-radius: 6px;
  margin: 8px;
  background: white;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
  position: relative;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, .08),
    0 2px 2px rgba(0, 0, 0, .08),
    0 1px 1px rgba(0, 0, 0, .08);
}

.form-link:hover {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, .08),
    0 6px 6px rgba(0, 0, 0, .08),
    0 3px 3px rgba(0, 0, 0, .08);
}

.form-link:after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  transform: translateX(-8px) rotate(-45deg);
  transition: all .3s ease-out;
  right: 20px;
  width: 8px;
  height: 8px;
  box-shadow: 2px 2px 0 black;
}

.form-link:hover:after {
  opacity: .5;
  transform: rotate(-45deg);
}

#features {
  padding-top: 25px;
  margin-bottom: 25px;
  /* display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; */
}

#features p {
  margin: 10px 0;
}
/*
#features > div {
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: calc(33% - 30px);
  flex-grow: 1;
  flex-shrink: 0;
} */

form {
  display: flex;
  flex-wrap: wrap;
  margin: 24px -15px;
}

.input-container label, .textarea-container textarea, .input-container input, .textarea-container textarea {
  display: block;
}

.input-container {
  flex-basis: 40%;
  flex-grow: 1;
  margin: 15px;
}

label p {
  margin: 0 0 8px;
  opacity: .6;
  font-size: 1.2rem;
}

.textarea-container {
  flex-basis: 100%;
  flex-grow: 1;
  margin: 15px;
}

.input-container input, .textarea-container textarea {
  padding: 1.6rem;
  outline: none;
  font-size: 1.6rem;
  border-radius: 6px;
  width: 100%;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, .08),
    inset 0 2px 2px rgba(0, 0, 0, .08),
    inset 0 1px 1px rgba(0, 0, 0, .08);
}

input:focus, textarea:focus {
  box-shadow:
    inset 0 0 0 1px #17afb6,
    inset 0 2px 2px rgba(0, 0, 0, .08),
    inset 0 1px 1px rgba(0, 0, 0, .08);
}

textarea {
  resize: vertical;
  min-height: 30vh;
}

button {
  background: #28bbff;
  padding: 0 20px;
  font-size: 1.6rem;
  line-height: 44px;
  border-radius: 6px;
  color: white;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, .08),
    0 2px 2px rgba(0, 0, 0, .08),
    0 1px 1px rgba(0, 0, 0, .08);
  cursor: pointer;
  margin-top: 16px;
}

@media (max-width: 520px) {
  .form-link {
    flex-basis: 100%;
  }

  #features > div {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  .input-container {
    flex-basis: 100%;
  }
}

.gdpr, .submit {
  margin: 0 15px;
  flex-basis: 100%;
}

.gdpr label {
  margin-left: 8px;
}

.hero {
  background: #17afb6;
  color: white;
  padding: 50px 0
}

#faq {
  background: white;
  padding: 30px 0;
}

h1 {
  margin-top: 50px;
}

footer {
  padding: 16px 0;
}