<div class="hero">
    <div class="container">

        <header>
          <h1>CareerCode</h1>
        </header>

        <section id="intro">
            <p>Lorem ipsum dolor sit amet, mei molestie singulis adipiscing ei, magna scripserit ius in. His an viderer laoreet expetendis. Simul putant at nec. Vel id quodsi dolorem appareat, has deserunt gubergren id, eam ea exerci facilisi scriptorem.</p>
            <p>An mel appareat reformidans, cetero commodo quaestio an eum. Vim at facilis ceteros, ridens consequat eam no, noster everti philosophia ut per. Eam hinc efficiendi cu, vix ne civibus percipitur contentiones. Ullum munere populo pro an. Quis habemus lobortis vel id, te qui ludus vivendo repudiare. Pro tempor posidonium cu.</p>
          <div class="button-container">
              <%= link_to candidate_path, class: 'form-link' do %>
                <h4>I'm a developer</h4>
              <% end %>
            <%= link_to business_path, class: 'form-link' do %>
              <h4>I represent a company</h4>
              <% end %>
            </a>
          </div>
        </section>
      </div>
</div>



<div class="container">
  <section id="features">
    <div class="column">
      <h4>Column title</h4>
      <p>Lorem ipsum dolor sit amet, mei molestie singulis adipiscing ei, magna scripserit ius in. His an viderer laoreet expetendis. Simul putant at nec. Vel id quodsi dolorem appareat, has deserunt gubergren id, eam ea exerci facilisi scriptorem.</p>
    </div>
    <div class="column">
        <h4>Column title</h4>
        <p>Lorem ipsum dolor sit amet, mei molestie singulis adipiscing ei, magna scripserit ius in. His an viderer laoreet expetendis. Simul putant at nec. Vel id quodsi dolorem appareat, has deserunt gubergren id, eam ea exerci facilisi scriptorem.</p>
      </div>
      <div class="column">
        <h4>Column title</h4>
        <p>Lorem ipsum dolor sit amet, mei molestie singulis adipiscing ei, magna scripserit ius in. His an viderer laoreet expetendis. Simul putant at nec. Vel id quodsi dolorem appareat, has deserunt gubergren id, eam ea exerci facilisi scriptorem.</p>
      </div>
  </section>
</div>


<div id="faq">
  <div class="container">
    Faq
  </div>
</div>
