<div class="hero">
    <div class="container">

        <header>
          <h1>CareerCode</h1>
        </header>

        <section id="intro">
            <p>CareerCode is committed to support the young talent in Groningen with a local movement to disrupt the tech job market and reverse the traditional recruitment process by placing the companies in the driving seat. We aim to build strategic partnerships between tech communities, hiring companies and young talent.</p>
          <div class="button-container">
              <%= link_to candidate_path, class: 'form-link' do %>
                <h4>I'm a developer</h4>
              <% end %>
            <%= link_to business_path, class: 'form-link' do %>
              <h4>I represent a company</h4>
            <% end %>
          </div>
        </section>
      </div>
</div>



<div class="container">
  <section id="features">
    <div class="column">
      <h4>Build partnerships</h4>
      <p>CareerCode is committed to bridge the gap between the IT jobs and the young talent on the local market of Groningen. </p>
    </div>
    <div class="column">
        <h4>Strengthen talent initiatives</h4>
        <p>CareerCode focuses on the development of Junior Developers and supporting them in becoming experienced and talented experts in their field.</p>
      </div>
      <div class="column">
        <h4>Disrupting the tech job market</h4>
        <p>By reversing the traditional job application, we aim to increase productivity, decrease high recruitment costs by eliminating recruitment agencies and improve time efficiency for both companies and candidates.</p>
      </div>
  </section>
</div>


<div id="faq">
  <div class="container">
    Faq
  </div>
</div>
