<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Thanks</h1>
            <p>For giving your interest in our platform.</p>
            <p>Love, CareerCode</p>
        </div>
    </div>
</div>
